<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clientID</key>
	<string>RIosxEly8pMrw7I8BEDpI5wn77164SSdyXJkAWfV</string>
	<key>appID</key>
	<string>7ahZjFvJ1QAMpJAsy98mR28wiRijU6LVOqhvZgiW</string>
</dict>
</plist>
